<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/json2.min.js")"></script>
</head>

<body>
    <div id="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-9">
                @RenderBody()
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div id="footer"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
