<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/json2.min.js")"></script>
</head>

<body>
	@RenderBody()

	@RenderSection("scripts", required: false)
</body>
</html>
