@model Example_Logic.Models.TBook
@{
    ViewBag.Title = "Book";
}

<style>
    .lblBookName {
        width: 500px;
    }

    .tbxBookDescription {
        width: 550px;
        height: 100px;
    }

    .imgBook {
        width: 100px;
        height: 120px;
    }

    .field-validation-error {
        color: #ff0000;
    }
</style>

<script type="text/javascript">

        $(document).ready(function () {
            init();
        });

        init = function () {
            if ("@ViewBag.Result" == "1") {
                toastr.error('update error!');
            } else if ("@ViewBag.Result" == "0") {
                toastr.success('update success!');
            }
        }

</script>


@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.ImgUrl)
    @Html.HiddenFor(m => m.Name)
    <div id="divDialate" class="card">
        <h4 class="card-header">
            BOOK
        </h4>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2"><img id="imgBook" src="@Model.ImgUrl" class="imgBook" /></div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-2"><h6 class="card-title">@Html.LabelFor(m => m.ID):</h6></div>
                        <div class="col-sm-10">@Html.DisplayFor(m => m.ID)</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><h6 class="card-title">@Html.LabelFor(m => m.Name):</h6></div>
                        <div class="col-sm-10">@Html.Label("Name", Model.Name, new { @class = "lblBookName" })</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"><h6 class="card-title">@Html.LabelFor(m => m.Description):</h6></div>
                        <div class="col-sm-10">
                            @Html.TextArea("Description", Model.Description, new { @class = "tbxBookDescription" })
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <input type="submit" class="btn btn-primary" value="update" name="commandName" />
                    <input type="submit" class="btn btn-secondary" value="close" name="commandName" id="btnClose" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
}
